<section class="container px-11 mt-5">
    <!-- head part -->
    <div
        class="flex items-center justify-between glass backdrop-blur-xs border-2 px-5 lg:px-7 lg:py-3 py-2 rounded-t-3xl">
        <!-- right -->
        <div class="flex items-center gap-2">
            <img class="size-6 lg:size-10" [src]="options().imgSrc" alt="pumbsvg">
            <h2 class="text-[14px] lg:text-xl font-semibold">{{options().headTitle}}</h2>
        </div>
        <!-- left -->
        <a [routerLink]="`/browse/${options().headTitle}/${options().queryOption || '#' }`"  class="text-[12px] lg:text-[14px] text-(--text-alt-color) font-semibold">Browse all</a>
    </div>
    <!-- loading -->
    @if (isLoading()) {
    <app-loading-box [text]="'Loading the content...'" />
    }
    @if (isError() && !isLoading()) {
    <app-fetch-error-box [refetchFunction]="refetch" />
    }
    <!-- slider -->
    @if(mangas().length > 0) {
    <swiper-container class="my-3" slides-per-view="auto" space-between="12" free-mode="true" navigation="true">
        @for (manga of mangas(); track manga.id) {
        <swiper-slide lazy="true" class="w-35 lg:w-75">
            <app-manga-card [manga]="manga" sizeClass="h-50" />
        </swiper-slide>
        }
    </swiper-container>
    }
    <!-- bottom part -->
    <div class="glass w-full h-3 border-2 rounded-b-2xl backdrop-blur-xs">
    </div>
</section>