<div appClickoutsideDirective (clickOutside)="closeSearch()"
    class="border-[#ffffff68] border-2 px-4 rounded-full flex items-center gap-1.5 relative">
    <!-- icon -->
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
        class="size-4 text-gray-400">
        <path stroke-linecap="round" stroke-linejoin="round"
            d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
    </svg>
    <!-- input -->
    <input id="searchInputDesk" (focus)="focusHandler($event)" (input)="searchHandler($event)" class="placeholder:text-xs text-xs block py-2"
        placeholder="Search manga ..." type="text">
    <!-- result box -->
    @if (filterValue() && filterValue().length > 2) {
    <div
        class="flex flex-col bg-zinc-900 border-2 border-[#ffffff2a] rounded-2xl w-100 h-fit absolute top-10 right-0 gap-5 p-5">
        @for (manga of searchResult(); track $index) {
        <div (click)="clickItem(manga.id)"
            class="flex items-center gap-2 cursor-pointer duration-500 transition-[color] hover:text-teal-600">
            <img class="size-14 rounded-lg" [src]="getCoverUrl(manga)" alt="">
            <div class="w-full line-clamp-2 text-sm">{{getTitle(manga)}}</div>
        </div>
        }
        @if (searchResult().length !== 0 && totalResult() > 5) {
        <div class="w-full flex justify-center">
            <div class="w-[95%] h-0.5 bg-[#ffffff1a]"></div>
        </div>
        <button (click)="viewAll()" class="font-semibold text-xs duration-500 transition-[color] hover:text-teal-600">View all</button>
        }
        @if (searchResult().length === 0 && filterValue().length > 2 ) {
        <div class="text-xs">No result</div>
        }
    </div>
    }
</div>