<main class="mt-35 lg:mt-30">
    <div class="bg-zinc-900 z-9 border-b-2 border-[#ffffff30] w-dvw top-[71px] fixed">
        <div
            class="container px-7 lg:px-10 py-4 text-xs font-semibold gap-3 lg:gap-5 flex flex-col lg:flex-row lg:items-center justify-between">

            <div class="flex items-center gap-1">
                <span class="whitespace-nowrap">Results for <span
                        class="text-teal-500">{{searchedTitle()}}</span></span>
            </div>
            @if (totalPage() !== 1) {
                <div class="flex items-center gap-2 lg:gap-3 -ms-3 lg:ms-0">
                    <button (click)="prevPage()">
                        <svg [class]="currentPage() === 1 ? 'text-gray-600' : '' " xmlns="http://www.w3.org/2000/svg"
                            fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5 8.25 12l7.5-7.5" />
                        </svg>
                    </button>
                    <div> Page {{currentPage()}} of {{totalPage()}}</div>
                    <button (click)="nextPage()">
                        <svg [class]="currentPage() === totalPage() ? 'text-gray-600' : '' "
                            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" class="size-4">
                            <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
                        </svg>
                    </button>
                    <div class="flex items-center ms-3 gap-1.5">
                        <input (keyup)="keyUp($event)" class="block w-10"  type="text" placeholder="Page ...">
                        <button (click)="jumpPage(jumpPageValue())" class="block mt-0.5">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor" class="size-4">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3" />
                            </svg>
                        </button>
                    </div>
                </div>
            }
        </div>
    </div>
    <!-- loading -->
    @if (isLoading()) {
    <app-loading-box [text]="'Loading the content...'" />
    }
    @if (isError() && !isLoading()) {
    <app-fetch-error-box [refetchFunction]="refetch" />
    }
    <div class="grid grid-cols-2 sm:grid-cols-3 xl:grid-cols-4 container px-10 py-5 gap-5">
        @for (manga of mangaList(); track manga.id) {
        <app-manga-card sizeClass="h-54 lg:h-50" [manga]="manga" />
        }
    </div>
</main>