<main class="mt-42 lg:mt-37">
    <div
        class="bg-zinc-900 z-9 border-b-2 border-[#ffffff30] w-dvw top-[70px] fixed">
        <div class="container px-7 lg:px-10 pt-5 pb-4 text-xs font-semibold gap-3 lg:gap-5 flex flex-col lg:flex-row lg:items-center justify-between">
            
                    <div class="flex items-center gap-1">
                        <span class="text-teal-500 whitespace-nowrap">Scanlation group</span> : <span
                            class="line-clamp-1">{{chapterStore.scangroup()
                            ||
                            'N/A'}}</span>
                    </div>
                    <div class="flex gap-1.5 lg:gap-2">
                        <button (click)="openChapters()"
                            class="text-[10px] lg:text-xs border-2 rounded-2xl py-1.5 px-4 lg:py-2 lg:px-5">Chapters</button>
                        <button (click)="goMangaPage()"
                            class="text-[10px] lg:text-xs border-2 rounded-2xl py-1.5 px-4 lg:py-2 lg:px-5">Manga Page</button>
                    </div>

        </div>
    </div>
    <!-- images -->
    <div class="flex flex-col items-center">
        @for (image of chapterStore.images(); track $index) {
        <div class="w-[95%] lg:w-[700px] flex justify-start text-[7px]">{{$index + 1}}</div>
        <img loading="lazy" class="w-[95%] lg:w-[700px]"
            [src]="`${chapterStore.proxyAddress()}${chapterStore.baseUrl()}/data-saver/${chapterStore.hash()}/${image}`"
            alt="">
        }
    </div>
    <!-- chapters box -->
    <div class="mb-5">
        <div [class]="`${isChaptersOpen() ? 'translate-y-0' : '-translate-y-full'}`"
            class="fixed top-0 start-0 w-dvw py-5 px-10 border-b-2 z-999 bg-zinc-900 transition-[translate] border-[#ffffff42] flex items-center justify-between">
            <h2 class="font-bold text-2xl">Select Chapter </h2>
            <div class="flex items-center gap-5">
                <select class="w-20" (change)="changeLang($event)" name="choose lang" id="lang">
                    @for (lang of languages(); track lang.value) {
                    <option class="bg-zinc-800" [value]="lang.value">{{lang.label}}</option>
                    }
                </select>
                <button (click)="closeChapters()" class="text-3xl hover:text-(--hover-color)">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
                        <path fill-rule="evenodd"
                            d="M5.47 5.47a.75.75 0 0 1 1.06 0L12 10.94l5.47-5.47a.75.75 0 1 1 1.06 1.06L13.06 12l5.47 5.47a.75.75 0 1 1-1.06 1.06L12 13.06l-5.47 5.47a.75.75 0 0 1-1.06-1.06L10.94 12 5.47 6.53a.75.75 0 0 1 0-1.06Z"
                            clip-rule="evenodd" />
                    </svg>
                </button>
            </div>
        </div>
        <div [class]="`${isChaptersOpen() ? 'translate-y-0' : '-translate-y-full'}`"
            class="bg-zinc-900 w-dvw h-dvh fixed top-0 left-0 z-998 text-(--text-alt-color) transition-[translate] duration-300 descBox">
            <div class="chapbox h-[calc(100%-90px)] overflow-y-auto mt-20">
                <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 px-10 py-5 gap-5">
                    @for (chapter of mangaStore.chapters(); track chapter.id) {
                    <div [class]="chapter.id === chapterID() ? 'text-teal-600 border-teal-600' : ''"
                        class="border-2 p-3 rounded-xl cursor-pointer">
                        <a (click)="chapterSelect(chapter.id)" class="size-full flex gap-2">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
                                class="size-6">
                                <path
                                    d="M11.25 4.533A9.707 9.707 0 0 0 6 3a9.735 9.735 0 0 0-3.25.555.75.75 0 0 0-.5.707v14.25a.75.75 0 0 0 1 .707A8.237 8.237 0 0 1 6 18.75c1.995 0 3.823.707 5.25 1.886V4.533ZM12.75 20.636A8.214 8.214 0 0 1 18 18.75c.966 0 1.89.166 2.75.47a.75.75 0 0 0 1-.708V4.262a.75.75 0 0 0-.5-.707A9.735 9.735 0 0 0 18 3a9.707 9.707 0 0 0-5.25 1.533v16.103Z" />
                            </svg>
                            Chapter {{chapter.attributes.chapter}}
                        </a>
                    </div>
                    }
                </div>
            </div>
        </div>
    </div>
</main>